@import 'base/normalize';
@import '../../node_modules/bulma/bulma.sass';

html {
  font-size: 10px;
}

*:focus {
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}


@import 'base/colors';

@import 'base/fonts';


@import 'components/error-message';
@import 'components/header';
@import 'components/link-copy';
@import 'components/link-shortener';