@import 'base/normalize';
@import '../../node_modules/bulma/bulma.sass';

html {
  font-size: 10px;
}

*:focus {
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}

@import 'base/fonts';
@import 'base/colors';

@import 'pages/link-shortener-page';

@import 'components/error-message';
@import 'components/header';