body, button, input, select, textarea {
  font-family: 'Source Code Pro', monospace, 'sans-serif';
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: 400;
}

h1 {
  color: $dark-grey;
}

h3 {
  color: $medium-grey;
}

input {
  font-weight: 300;
}

button {
  font-weight: 600;
}