div.header-container {
  text-align: center;

  a {
    color: #4a4a4a;
  }

  h1, h2 {
    line-height: 1em;
  }

  h1 {
    font-size: 7rem;
    margin-top: 70px;
  }

  h3 {
    font-size: 1.5rem;
    margin-top: 5px;
  }
}